[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "*", extras = ["argon2"]}
django-ninja = "*"
uvicorn = "*"
psycopg = {version = "*", extras = ["binary"]}
django-redis = "*"
django-silk = "*"
django-cors-headers = "*"
django-csp = "*"
uuid7 = "*"
python-redis-lock = {version = "*", extras = ["django"]}
pyparsing = "*"
python-dateutil = "*"

[dev-packages]
coverage = "*"
ruff = "0.8.2"
django-stubs = { version = "*", extras = ["compatible-mypy"] }
tblib = "*"
watchdog = "*"
inotify = "*"

[requires]
python_version = "3.13"
